LEAD_NOTIFICATION_ENABLED=false
FIREBASE_PROJECT_ID=nexora-global-ffb63
GOOGLE_APPLICATION_CREDENTIALS=/etc/secrets/firebase-admin.json
LEAD_WEBHOOK_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
LEAD_WEBHOOK_TOKEN=replace-with-a-long-random-value
ALLOW_SYNTHETIC_NOTIFICATION_TEST=false
LEAD_NOTIFICATION_TEST_ORIGIN=https://www.nexoraglobal.agency
VITE_META_PIXEL_ID=
